@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #ff163d33 0deg,
    #fc002a33 55deg,
    #ff5e7933 120deg,
    #fa002a33 160deg,
    transparent 360deg
  );
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  background: white;
}

.gbg {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.g327 {
  border-color: #302f30;
}

@font-face {
  font-family: "AvenirNextW10-Bold";
  src: url("../public/fonts/AvenirNext.ttf");
}

.Avenir {
  font-family: AvenirNextW10-Bold;
  font-display: swap;
}

.clearNav {
  backdrop-filter: saturate(180%) blur(5px) !important;
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.grr {
  grid-template-columns: repeat(2, 1fr);
}

.greyC {
  filter: gray;
  -webkit-filter: grayscale(100%);
  transition: 0.4s;
}

.greyC:hover {
  filter: none;
  -webkit-filter: none;
  transition: 0.4s;
}

.gradient-01 {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  top: 0;

  background: #65c4fa;
  filter: blur(150px);
  transform: rotate(-114.2deg);
}

.gradient-02 {
  position: absolute;
  width: 500px;
  height: 100px;
  right: 10%;
  bottom: 0;

  background: #bdfff6;
  filter: blur(150px);
}

.bg-blur::before {
  background: var(--primary-glow);
  width: 265px;
  height: 100px;
  z-index: 1;
  content: "";
  left: 49%;
  top: 6%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}


.banner-bg {
  background-image: url(/public/images/iPhone-12-Mockup.png);
}
